<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<link rel ="stylesheet" href="./css/credentials-style.css">
<link href="https://fonts.googleapis.com/css?family=Bitter|Poppins&display=swap" rel="stylesheet">
</head>
<body>

 <div id = "main-wrapper">
     <center>
       <h2> Login </h2>    
       <i class="logo"></i>  
      </center>

<form class= "myform" action="login.php" method="post">
     <label><b> Username</b></label><br>
      <input name="username" type="text" class="inputvalue" placeholder="Enter username" required/><br>
      <label><b> Password</b></label><br>
      <input name="password"type="password" class="inputvalue" placeholder="Enter password" required/><br>
      <input name="login" type="submit" id="login-btn" value ="Login"/><br>
      <p>or</p>
     <a href="register.php"> <input type="button" id="register-btn" value ="Sign up"/></a>
</form>
</div>
</body>
</html>